[run]
branch = True
omit =
    entity_event_slack/migrations/*
    entity_event_slack/tests/*
    entity_event_slack/version.py
    entity_event_slack/apps.py
source = entity_event_slack
[report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain if tests don't hit defensive assertion code:
    raise NotImplementedError
fail_under = 100
show_missing = 1
